ion-content {

    ion-list {

        ion-avatar {
            width: 200px;
            height: 200px;
            margin: auto;
            margin-top: 35px;
        }

        .userName {
            width: 100%;
            text-align: center;
        }

    }

}